#gacha-select-form {
    width: 450px;
}
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(185, 185, 185);
}
#gacha-select-form #logout-button {
    margin-left: 35px;
}
#gacha-select-form #my-profile-button, #gacha-select-form #logout-button {
    font-size: 16px;
}
.gacha-option {
    width: 100%;
}
.gacha-options-container {
    box-sizing: content-box;
    text-align: center;
    width: calc(100% + 17px);
    height: 400px;
    /* overflow: hidden; */
    position: relative;
    overflow-y: scroll;
}
#gacha-select-form .form-item {
    margin: 6px 0;
}
.menu-name {
    white-space: nowrap;
}
.menu-options {
    text-align: right;
    line-height: 30px;
}
.unimplemented-gacha-option {
    pointer-events: none;
    background: none !important;
    color: #a5a5a5 !important;
    position: relative;
}
.unimplemented-gacha-option:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, rgb(245, 245, 245), rgb(223, 223, 223)) !important;
    filter: blur(3px);
    border-radius: 10px;
    z-index: -1;
}
.unimplemented-gacha-option:after {
    content: 'coming soon!';
    position: absolute;
    left: 3%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: #7919FF;
    height: 100%;
}