#user-profile {
    width: 700px;
}
#username {
    position: relative;
}
#username-text-container {
    width: 40vw;
    max-width: 380px;
}
#username-text {
    max-width: 100%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}
#user-link {
    position: absolute;
    right: -25px;
    top: 2px;
    z-index: 500;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-link-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0%);
    transition: filter 0.4s;
}
#user-link-icon:hover {
    cursor: pointer;
    filter: none;
}
#user-profile #logout-button {
    margin-left: 40px;
}
#user-profile .menu-options {
    margin-left: 40px;
}
@media screen and (max-width: 780px) {
    #user-profile {
        width: 90vw;
    }
}
@media screen and (max-width: 450px) {
    #user-profile .menu-options {
        font-size: 13px;
    }
}