.gacha-area {
    user-select: none;
    transition: filter 0.2s;
}
#genshin-wish-page .gacha-area {
    background: url('./assets/genshin-impact-wish-sky.png') no-repeat 20% 0%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: url('./assets/genshin-cursor.png'), auto;
}
@font-face {
    font-family: 'genshin-impact-font';
    src: url('./assets/fonts/zh-cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#genshin-wish-page .gacha-area * {
    font-family: 'genshin-impact-font' !important;
}
#banner-image-container {
    width: min(1500px, 80%);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    opacity: 1;
    transition: 0.5s;
}
#banner-image {
    width: 100%;
    border-radius: 10px;
}
.banner-sweeping {
    opacity: 0 !important;
    left: 50px !important;
    /* transition: opacity 0s, left 0s !important; */
}
#change-banner-left, #change-banner-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: 6vw;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
    transition: 0.2s;
}
#change-banner-left:hover, #change-banner-right:hover {
    cursor: url('./assets/genshin-cursor.png'), pointer;
}
#change-banner-left:active, #change-banner-right:active {
    filter: opacity(40%);
}
#change-banner-left {
    left: min(60px, 3vw);
}
#change-banner-right {
    right: min(60px, 3vw);
}
.standard-banner #banner-image {
    position: relative;
    bottom: min(1.5vw, 40px);
}
#wish-animation {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
}
.wish-buttons {
    position: absolute;
    bottom: 30px;
    right: 4vw;
    width: min(65vw, 690px);
    text-align: right;
}
.wish-button {
    vertical-align:bottom;
    margin-top: 10px;
    width: max(50%, 200px);
    padding: 0 1vw;
    transition: 0.1s;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
.wish-button:hover {
    cursor: url('./assets/genshin-cursor.png'), pointer;
}
.wish-button:active {
    filter: brightness(90%);
}
.top-menu-container {
    width: 100%;
    padding: 30px 4vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#wish-title-container {
    display: flex;
    align-items: center;
    filter: drop-shadow(0 0 5px gray);
}
#wish-title {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}
#wish-icon {
    filter: contrast(20%) brightness(130%) sepia(100%);
    margin-right: 3vw;
}
#top-right-menu {
    display: flex;
    align-items: center;
}
#close-wish-button {
    height: 50px;
    cursor: url('./assets/genshin-cursor.png'), pointer;
    margin-left: 30px;
    transition: 0.1s;
}
#close-wish-button:active {
    filter: brightness(120%) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
#fate-count-container, #primogem-count-container, #genesis-crystal-count-container {
    height: 45px;
    background-clip: padding-box;
    border-radius: 100px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    background-color: #26262a8a;
    display: flex;
    align-items: center;
}
#fate-count-container, #genesis-crystal-count-container {
    margin-left: 15px;
}
#fate-count, #primogem-count {
    font-size: 24px;
}
#genesis-crystal-count {
    font-size: 30px;
}
#primogem-count-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
#primogem-count-wrapper:active #primogem-icon, #fate-count-container:active #fate-icon, #genesis-crystal-count-container:active #genesis-crystal-icon {
    filter: opacity(70%);
}
#fate-count, #primogem-count, #genesis-crystal-count {
    margin-right: 15px;
}
#primogem-icon {
    padding: 0 9px;
}
#fate-icon, #genesis-crystal-icon {
    padding: 0 12px;
}
#primogem-icon, #fate-icon, #genesis-crystal-icon {
    filter: drop-shadow(0 0 1px black);
}
#primogem-icon {
    height: 110%;
}
#fate-icon {
    height: 80%;
}
#genesis-crystal-icon {
    height: 70%;
}
#add-primogem-button {
    height: 33px;
    padding: 0 4px 0 0;
    transition: 0.1s;
}
#add-primogem-button:hover {
    cursor: url('./assets/genshin-cursor.png'), pointer;
}
#add-primogem-button:active {
    filter: opacity(50%);
}
@media screen and (max-width: 690px) {
    #close-wish-button {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #wish-title-container {
        display: none;
    }
    #top-right-menu, #add-primogem-header {
        flex-direction: column;
        align-items: start;
    }
    #primogem-count-container {
        margin-bottom: 10px;
    }
    #fate-count-container {
        margin-left: 0;
    }
    #genesis-crystal-count-container {
        margin-left: 0;
    }
}

#skip-wish-animation-button {
    cursor: url('./assets/genshin-cursor.png'), pointer;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: min(5vw, 40px);
    right: min(6vw, 70px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: color 0.2s, filter 0.1s, visibility 0s, opacity 0.2s linear;
}
#skip-wish-animation-button:active {
    color: white;
    filter: drop-shadow(0 0 5px white);
}
#skip-wish-arrow {
    height: 18px;
    margin-left: 8px;
}
.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}
.blurb-overlay {
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}
.z4 {
    z-index: 4;
}
.z3 {
    z-index: 3;
}
.z2 {
    z-index: 2;
}
.z1 {
    z-index: 1;
}
.blurb-modal{
    align-items: center;
    display: flex;
    justify-content: center;
    outline: 0;
}
.blurb-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.blurb-image {
    width: 100%;
}
.blurb-num-fates {
    position: absolute;
    bottom: 0;
    padding: 2.2% 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #495366;
}
/* modal animation */
.ReactModal__Overlay {
    transform: scale(0.9);
    opacity: 0;
    transition: .2s;
}
.ReactModal__Overlay--after-open {
    transform: scale(1);
    opacity: 1;
}
.ReactModal__Overlay--before-close {
    transform: scale(0.9);
    opacity: 0;
}
@media screen and (max-width: 730px) {
    .info-image {
        width: 90vw;
    }
    .blurb-num-fates {
        font-size: 4.1vw;
    }
}
#add-primogem-header {
    position: absolute;
    top: 0;
    padding: 2vh 7vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    background-color: #26262ade;
    transition: 0.3s;
}
#add-primogem-cancel-button, #add-primogem-exchange-button {
    border-radius: 100px;
    position: absolute;
    width: 39%;
    height: 9.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ECE5D8;
    font-size: 36px;
    padding-left: 3.5%;
    background-color: #4A5366;
}
#add-primogem-cancel-button {
    bottom: 7.1%;
    left: 8.3%;
}
#add-primogem-exchange-button {
    bottom: 7%;
    right: 8.3%;
}
#cancel-icon, #confirm-icon {
    position: absolute;
    left: 2.8%;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
}
#primogem-quantity {
    position: absolute;
    top: 49.8%;
    width: 30%;
    text-align: center;
    color: #474F62;
    font-size: 39px;
    left: 0;
    right: 0;
    margin: auto
}
#primogem-quantity::-webkit-outer-spin-button, #primogem-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#primogem-quantity {
    -moz-appearance: textfield;
}
#primogem-quantity::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #474F62;
    opacity: 1; /* Firefox */
}
  
#primogem-quantity:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #474F62;
}
  
#primogem-quantity::-ms-input-placeholder { /* Microsoft Edge */
    color: #474F62;
}
#increment-primogem-quantity, #decrement-primogem-quantity {
    border-radius: 100px;
    position: absolute;
    height: 7%;
    width: 5.2%;
    top: 49%;
    transition: 0.2s;
}
#increment-primogem-quantity:active, #decrement-primogem-quantity:active, .unclickable-1 {
    background: rgba(255, 255, 255, 0.521);
}
.flash-button {
    border: 2px solid transparent;
    filter: drop-shadow(0px 2px 3px #4a536683);
    transition: color 0.2s, background 0.2s, border 0.4s;
}
.flash-button:hover {
    border: 2px solid #FFE6B2;
    transition: border 0.1s;
}
.flash-button:active {
    background: #E5E2DB !important;
    -webkit-animation: 0.15s linear flash-1;
    -moz-animation: 0.15s linear flash-1;
    -ms-animation: 0.15s linear flash-1;
    -o-animation: 0.15s linear flash-1;
    animation: 0.15s linear flash-1;
}
.flash-button:after {
    content: '';
    position: absolute;
    border-radius: 100px;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
}
.flash-button:active {
    filter: drop-shadow(0px 0px 5px #FFECCA);
}
#add-primogem-cancel-button:active, #add-primogem-exchange-button:active {
    color: #4A5366 !important;
    border: 2px solid #4A5366 !important;
}
#add-primogem-cancel-button:active:after, #add-primogem-exchange-button:active:after {
    background: #ffe5914b !important;
}
#minus-100:active, #plus-100:active, #max:active {
    color: white;
    border: 2px solid #4a536652 !important;
}
#minus-100:active, #plus-100:active, #max:active {
    background: #E4D0AF !important;
}

@keyframes flash-1 {
    0% {
        filter: drop-shadow(0px 2px 3px #4a536683) brightness(180%);
    }
}

#decrement-primogem-quantity {
    left: 28%;
}
#increment-primogem-quantity {
    right: 28%;
} 
#minus-100, #plus-100, #max, #add-primogem-cancel-button, #add-primogem-exchange-button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#minus-100, #plus-100, #max {
    position: absolute;
    border-radius: 100px;
    bottom: 33.1%;
    width: 13.4%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ECE5D8;
    font-size: 28px;
    background-color: #4A5366;
}
#minus-100 {
    left: 28.3%;
}
#max {
    right: 28.3%;
}
#plus-100 {
    left: 0;
    right: 0;
    margin: auto;
}
@media screen and (max-width: 1300px) {
    .add-primogem-image {
        width: 95vw !important;
    }
    #primogem-quantity {
        font-size: 3.05vw !important;
    }
    #add-primogem-cancel-button, #add-primogem-exchange-button {
        font-size: 2.8vw !important;
    }
    #genesis-crystals-consumed {
        font-size: 2.5vw !important;
    }
    #minus-100, #plus-100, #max {
        font-size: 2.1vw !important;
    }
}
.unclickable-2 {
    border: 2px solid #D4D2CF !important;
    color: #D4D2CF !important;
    background-color: #E5E2DB !important;
    pointer-events: none;
}
.unclickable-2 * {
    filter: opacity(25%);
}
.unclickable-1 {
    pointer-events: none;
}
#genesis-crystals-consumed {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    font-size: 33px;
    color: #495366;
    bottom: 22.9%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#small-genesis-crystal {
    height: 100%;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.473));
}

#shop-button {
    position: absolute;
    bottom: 30px;
    left: 5vw;
    background-color: #E0DDD4;
    color: #3B4355;
    font-size: 17px;
    padding: 5px 45px;
    border-radius: 100px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    border: 2px solid transparent;
    transition: 0.2s color, 0.2s background-color, 0.2s border;
}
#shop-button:hover {
    border: 2px solid white;
}
#shop-button:active {
    border: 2px solid #7D8EA0;
    background-color: #D3D2BF;
    -webkit-animation: 0.15s linear forwards flash-2;
    -moz-animation: 0.15s linear forwards flash-2;
    -ms-animation: 0.15s linear forwards flash-2;
    -o-animation: 0.15s linear forwards flash-2;
    animation: 0.15s linear forwards flash-2;
}
@keyframes flash-2 {
    0% {
        color: #8d5e00;
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.473)) brightness(150%);
    }
    100% {
        color: white;
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.473));
    }
}
.blur-backdrop {
    backdrop-filter: blur(10px);
    background-color: transparent;
    background-image: linear-gradient(to bottom, #1c1e2c, transparent);
}
#purchase-with-primogems-container {
    position: relative;
    width: min(90vw, 690px);
    margin: auto;
    margin-bottom: min(70px, 10vw);
    display: flex;
    align-items: center;
    justify-content: center;
}
#purchase-with-primogems {
    position: absolute;
    width: 69%;
    z-index: 1;
}
#ribbon-bar {
    width: 100%;
    position: absolute;
}
#buy-options {
    display: flex;
}
#buy-acquaint-fate-container, #buy-intertwined-fate-container {
    flex: 1;
    position: relative;
    width: min(444px, 40vw);
    height: min(444px, 40vw);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}
#buy-acquaint-fate, #buy-intertwined-fate {
    width: 93%;
}
#buy-acquaint-fate-hover, #buy-intertwined-fate-hover {
    width: 100%;
    filter: drop-shadow(0 0 10px #D6A456);
}
#buy-acquaint-fate, #buy-acquaint-fate-hover, #buy-intertwined-fate, #buy-intertwined-fate-hover {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    transition: 0.3s cubic-bezier(0,.75,.13,.98);
}
#shop-modal-header {
    position: absolute;
    top: 0;
    padding: 30px 4vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    transition: 0.3s;
}
#close-shop-modal {
    height: 50px;
    cursor: url('./assets/genshin-cursor.png'), pointer;
    transition: filter 0.1s, opacity 0.3s;
    opacity: 1;
    margin-left: 3vw;
}
#close-shop-modal:active {
    filter: brightness(120%) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
#shop-modal-primogem-count {
    height: 45px;
    background-clip: padding-box;
    border-radius: 100px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    background-color: #26262a8a;
    display: flex;
    align-items: center;
}