#genshin-wish-page img {
    user-select: none;
}
#genshin-wish-page .gacha-area {
    background: url('./assets/genshin-impact-wish-sky.png') no-repeat 20% 0%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: url('./assets/genshin-cursor.png'), auto;
}
@font-face {
    font-family: 'genshin-impact-font';
    src: url('./assets/fonts/zh-cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#genshin-wish-page .gacha-area * {
    font-family: 'genshin-impact-font' !important;
}
#banner-image-container {
    width: min(1500px, 80%);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    opacity: 1;
    transition: 0.5s;
}
#banner-image {
    width: 100%;
    border-radius: 10px;
}
.banner-sweeping {
    opacity: 0 !important;
    left: 50px !important;
    /* transition: opacity 0s, left 0s !important; */
}
#change-banner-left, #change-banner-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: 6vw;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.1));
    transition: 0.2s;
}
#change-banner-left:hover, #change-banner-right:hover {
    cursor: url('./assets/genshin-cursor.png'), pointer;
}
#change-banner-left:active, #change-banner-right:active {
    filter: opacity(40%);
}
#change-banner-left {
    left: min(60px, 3vw);
}
#change-banner-right {
    right: min(60px, 3vw);
}
.standard-banner #banner-image {
    position: relative;
    bottom: min(1.5vw, 40px);
}
#wish-animation {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
}
.wish-buttons {
    position: absolute;
    bottom: 30px;
    right: 4vw;
}
.wish-button {
    width: min(40vw, 300px);
    margin: 0 1vw;
    transition: 0.1s;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}
.wish-button:hover {
    cursor: url('./assets/genshin-cursor.png'), pointer;
}
.wish-button:active {
    filter: brightness(90%);
}
.top-menu-container {
    width: 100%;
    padding: 30px 4vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#wish-title-container {
    display: flex;
    align-items: center;
    filter: drop-shadow(0 0 5px gray);
}
#wish-title {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}
#wish-icon {
    filter: contrast(20%) brightness(130%) sepia(100%);
    margin-right: 3vw;
}
#top-right-menu {
    display: flex;
    align-items: center;
}
#close-wish-button {
    height: 50px;
    cursor: url('./assets/genshin-cursor.png'), pointer;
    margin-left: 30px;
    transition: 0.1s;
}
#close-wish-button:active {
    filter: brightness(120%) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}
#fate-count-container, #primogem-count-container, #genesis-crystal-count-container {
    height: 45px;
    background-clip: padding-box;
    border-radius: 100px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    background-color: #26262a8a;
    display: flex;
    align-items: center;
}
#fate-count-container, #genesis-crystal-count-container {
    margin-left: 15px;
}
#fate-count, #primogem-count {
    font-size: 24px;
}
#genesis-crystal-count {
    font-size: 30px;
}
#primogem-count-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
#primogem-count-wrapper:active #primogem-icon, #fate-count-container:active #fate-icon, #genesis-crystal-count-container:active #genesis-crystal-icon {
    filter: opacity(70%);
}
#fate-count, #primogem-count, #genesis-crystal-count {
    margin-right: 15px;
}
#primogem-icon {
    padding: 0 9px;
}
#fate-icon, #genesis-crystal-icon {
    padding: 0 12px;
}
#primogem-icon, #fate-icon, #genesis-crystal-icon {
    filter: drop-shadow(0 0 1px black);
}
#primogem-icon {
    height: 110%;
}
#fate-icon {
    height: 80%;
}
#genesis-crystal-icon {
    height: 70%;
}
#add-primogem-button {
    height: 33px;
    padding: 0 4px 0 0;
    transition: 0.1s;
}
#add-primogem-button:hover {
    cursor: url('./assets/genshin-cursor.png'), pointer;
}
#add-primogem-button:active {
    filter: opacity(50%);
}
@media screen and (max-width: 690px) {
    #close-wish-button {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #wish-title-container {
        display: none;
    }
    #top-right-menu, #add-primogem-header {
        flex-direction: column;
        align-items: start;
    }
    #primogem-count-container {
        margin-bottom: 10px;
    }
    #fate-count-container {
        margin-left: 0;
    }
}

#skip-wish-animation-button {
    cursor: url('./assets/genshin-cursor.png'), pointer;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: min(5vw, 40px);
    right: min(6vw, 70px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    opacity: 1;
    transition: color 0.2s, filter 0.1s, visibility 0s, opacity 0.2s linear;
}
#skip-wish-animation-button:active {
    color: white;
    filter: drop-shadow(0 0 5px white);
}
#skip-wish-arrow {
    height: 18px;
    margin-left: 8px;
}
.hidden {
    visibility: hidden !important;
    opacity: 0 !important;
}
.blurb-overlay {
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    bottom: -100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
}
.front {
    z-index: 2;
}
.blurb-modal{
    align-items: center;
    display: flex;
    justify-content: center;
    outline: 0;
}
.blurb-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.blurb-image {
    width: 100%;
}
.blurb-num-fates {
    position: absolute;
    bottom: 0;
    padding: 2.2% 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #495366;
}
/* modal animation */
.ReactModal__Overlay {
    transform: scale(0.9);
    opacity: 0;
    transition: .2s;
}
.ReactModal__Overlay--after-open {
    transform: scale(1);
    opacity: 1;
}
.ReactModal__Overlay--before-close {
    transform: scale(0.9);
    opacity: 0;
}
@media screen and (max-width: 730px) {
    .info-image {
        width: 90vw;
    }
    .blurb-num-fates {
        font-size: 4.1vw;
    }
}
@media screen and (max-width: 1300px) {
    .add-primogem-image {
        width: 95vw !important;
    }
}
#add-primogem-header {
    z-index: 1;
    position: absolute;
    top: 0;
    padding: 2vh 7vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    background-color: #26262ac9;
    transition: 0.3s;
    z-index: 1;
}
#add-primogem-cancel-button, #add-primogem-exchange-button {
    border-radius: 100px;
    position: absolute;
    width: 39%;
    height: 9.7%;
    background: rgba(255, 0, 0, 0.5);
}
#add-primogem-cancel-button {
    bottom: 7%;
    left: 8.2%;
}
#add-primogem-exchange-button {
    bottom: 7%;
    right: 8.2%;
}